$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-table-sortable")

<html>
<head>
    <title>Replan Plugin - Issues To Plan</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        #if ($version)
            <h2>Version: $version.getName()</h2>
            <table class ="aui">
                <thead>
                <tr>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                </tr>
                </thead>

                <tr>
                    <td>
                        $version.getStartDate()
                    </td>
                    <td> $version.getReleaseDate()</td>
                </tr>


            </table>
        #end


        <h2>Issues to Plan: #if($features.size() > 0)<span style="color:red">$features.size()</span>#end</h2>

        #if ($errors.size() > 0)
            <div class="aui-message error shadowed">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
            <!-- .aui-message -->
        #end
        <!-- Poner también los usuarios a planificar -->

        #if ($features.size() > 0)
            <div class="issues">
                <table class="aui aui-table-sortable">
                    <thead>
                    <tr>
                        <th class="aui-table-column-issue-key">Issue-Key</th>
                        <th>Duration (hours)</th>
                        <th>Priority Level</th>
                        <th>Required Skills</th>
                        <th>Depends On</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach( $feature in $features)
                        <tr>
                            <td><a href ="/jira/browse/$feature.getName()">$feature.getName() </a></td>
                            <td>$feature.getDuration() </td>
                            <td>$feature.getPriority().getLevel()</td>
                            <td>
                                #if($feature.getRequiredSkills().size() > 0)
                                    #foreach($skill in $feature.getRequiredSkills())
                                        $skill.getName()
                                        <br/>
                                    #end
                                #else
                                    No skills required
                                #end
                            </td>
                            <td>
                                #if ($feature.getPreviousFeatures().size() > 0)
                                    #foreach($prevf in $feature.getPreviousFeatures())
                                        $prevf.getName()
                                    #end
                                #else
                                    No dependencies
                                #end
                            </td>


                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        #end


        <h2>Workers To plan:  #if($employees.size() > 0)<span style="color:red">$employees.size()</span>#end</h2>

<div class="employees">
        <table class="aui aui-table-sortable">
            <thead>
            <tr>
                <th>Worker</th>
                <th>Skills</th>

            </tr>
            </thead>
            <tbody>
                #foreach( $employee in $employees)
                <tr>
                    <td>
                        <a href="/jira/secure/ViewProfile.jspa?name=$employee.getName()">
                            $employee.getName()
                        </a>
                    </td>
                    <td>
                        #foreach($skill in $employee.getSkills())
                        $skill.getName()
                        <br/>
                        #end

                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>

        <form method="get" action="replanservlet" class="aui">
            <input type="hidden" name="actionType" value="getProjectPlan">
            <input type="submit" class="aui-button aui-button-primary" value="Get Plan">
        </form>
    </div>
</div>
</body>
</html>