<html>
<head>
    <title>Replan Plugin - Issues To Plan</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        <h1>#if($issues.size()==0)<span style="color:red">$issues.size()</span>#end Issues Are Gonna Be Planned</h1>

        #if ($errors.size()>0)
            <div class="aui-message error shadowed">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
            <!-- .aui-message -->
        #end
        <!-- Poner también los usuarios a planificar -->

        #if ($issues.size() > 0)
            <div class="issues">
                <table class="aui aui-table-sortable">
                    <thead>
                    <tr>
                        <th class="aui-table-column-issue-key">Issue-Key</th>
                        <th>Summary</th>
                        <th>Description</th>
                        <th>Assignee</th>
                        <th>Reporter</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach( $issue in $issues )
                        <tr>
                            <td>$issue.getKey()</td>
                            <td>$issue.getSummary()</td>
                            <td>
                                <details>
                                    <summary>

                                        Ver Descripción</summary>
                                #if($issue.getDescription())
                                $issue.getDescription()
                                #end
                                </details>
                            </td>
                            <td>
                                $issue.getAssignee().getName()
                            </td>
                            <td>
                                $issue.getReporter().getName()
                            </td>
                            <td>
                                $issue.getIssueType().getName();
                            </td>

                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        #end



        <form method="get" action="replanservlet" class="aui">
            <input type="hidden" name="actionType" value="getProjectPlan">
            <input type="submit" class="button" value="Get Plan">
        </form>
    </div>
</div>
</body>
</html><