$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-tabs")

<html>
<head>
    <title>My Plan</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">


    <div class="content-body">

        <div class="content-body">

            #if($version)
                Plan for Version: $version.getName()
                $version.getStartDate()
                $version.getReleaseDate()
            #else

            Plan for project: $request.getSession().getAttribute("project-key")
            #end


            <!-- Poner aquí el diagrama de Gantt. -->

            <div class="aui-tabs horizontal-tabs">
                <ul class="tabs-menu">

            #foreach($employee in $plan.getEmployees() )

                <li class="menu-item active-tab">
                    <a href="#$employee.getName()">$employee.getName()</a>
                </li>
                    #end
                </ul>


                #foreach($employee in $plan.getEmployees() )
                <div class="tabs-pane active-pane" id="$employee.getName()">
                    <table class ="aui">
                        <thead>
                            <tr>
                            #foreach($dayslot in $employee.getCalendar())
                                        <th>
                                        $dayslot.getDate($version.getStartDate())
                                        </th>
                            #end
                            </tr>
                        </thead>
                    <tbody>
                            <tr>
                        #foreach($dayslot in $employee.getCalendar())
                            <td>
                         #if($dayslot.getFeature())
                            $dayslot.getFeature()
                             </td>
                        #end
                        #end
                            </tr>
                    </tbody>
                </div>
                #end






            </div>

        $plan.toString()

        <form method="post" action="replanservlet" class="aui">
            <input type="submit" class="button" value="Persist this plan">
            <a href="replanservlet">Cancel</a>
        </form>
    </div>
</div>
</body>
</html>