$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-tabs")

<html>
<head>
    <title>My Plan</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">


    <div class="content-body">

        <div class="content-body">

            #if($version)
                Plan for Version: $version.getName()
                $version.getStartDate()
                $version.getReleaseDate()
            #else

            Plan for the whole project
            #end


            <!-- Poner aquí el diagrama de Gantt. -->

            <div class="aui-tabs horizontal-tabs">
                <ul class="tabs-menu">


                    <li class="menu-item">
                        <a href="#all">All</a>
                    </li>

            #foreach($employee in $plan.getEmployees() )

                <li class="menu-item">
                    <a href="#$employee.getName()">$employee.getName()</a>
                </li>
                    #end
                </ul>

                <div class="tabs-pane" id="all">

                    <!-- TODO Planificación de todos los usuarios -->


                    <table class ="aui">
                        <thead>

                        <tr>
                            <th>
                            Employee
                            </th>
                            #foreach($dayslot in $calendar)
                            <th>

                                $dayslot.getDate($version.getStartDate())
                            </th>
                            #end
                             </tr>

                        </thead>


                        <tbody>

                        #foreach($employee in $plan.getEmployees())

                        <tr>

                            <td><b>$employee.getName()</b></td>


                            #foreach($dayslot in $employee.getCalendar())

                                #if($dayslot.equals($prevday))


                                    #if($dayslot.getFeature())
                                        <br/>
                                        $dayslot.getFeature()


                                    #end

                                #else

                                    #if($dayslot.getFeature())
                                    <td bgcolor="#F2F5A9">
                                        $dayslot.getFeature()
                                    #else
                                    <td>
                                        Free Day Slot
                                    #end
                                #end
                                #set ($prevday = $dayslot)
                            #end
                        </tr>
                        #end
                        </tbody>
                    </table>
                </div>
                #foreach($employee in $plan.getEmployees() )
                <div class="tabs-pane" id="$employee.getName()">
                    <table class ="aui">
                        <thead>
                            <tr>
                            #foreach($dayslot in $employee.getCalendar())
                                #if($dayslot.equals($prevday))

                                    #else
                                        <th>
                                        $dayslot.getDate($version.getStartDate())
                                        </th>
                                #end
                                #set ($prevday = $dayslot)

                            #end
                            </tr>
                        </thead>
                    <tbody>
                            <tr>
                        #foreach($dayslot in $employee.getCalendar())

                            #if($dayslot.equals($prevday))


                                #if($dayslot.getFeature())
                                    <br/>
                                    $dayslot.getFeature()


                                #end

                                #else

                                 #if($dayslot.getFeature())
                                 <td bgcolor="#F2F5A9">
                                 $dayslot.getFeature()
                                 #else
                                 <td>
                                     Free Day Slot
                                 #end


                            #end
                            #set ($prevday = $dayslot)
                        #end
                            </tr>
                    </tbody>
                    </table>
                </div>
                #end
            </div>
        <form method="post" action="replanservlet" class="aui">
            <input type="submit" class="button" value="Persist this plan">
            <a href="replanservlet">Cancel</a>
        </form>
    </div>
</div>
</body>
</html>