$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-tabs")

<html>
<head>
    <title>My Plan</title>
    <meta name="decorator" content="atl.general">

    <style>
        .search-table-outter { overflow-x: scroll; }
        th, td { min-width: 100px; }
    </style>
</head>
<body class="page-type-admin">
<div class="content-container">


    <div class="content-body">

        <div class="content-body">

            #if ($success)
                <div class="aui-message aui-message-success">
                    <p class="title">
                        <strong>Success!</strong>
                    </p>
                    <p>Plan has been succesfully persisted.</p>
                </div>
                #else


            #end

            #if($version)
                Plan for Version: $version.getName()
                $version.getStartDate()
                $version.getReleaseDate()
            #else
            #if($success)

                #else
                Plan for the whole project
                #end

            #end

            <!--Diagrama de Gantt. -->

            <div class="aui-tabs horizontal-tabs">
                <ul class="tabs-menu">


                    <li class="menu-item">
                        <a href="#all">All</a>
                    </li>

            #foreach($employee in $plan.getEmployees() )

                <li class="menu-item active-tab">
                    <a href="#$employee.getName()">$employee.getName()</a>
                </li>
                    #end
                </ul>

                <div class="tabs-pane active-pane" id="all">

                    <!-- TODO Planificación de todos los usuarios -->

                    <div class="search-table-outter">
                    <table class ="aui">
                        <thead>

                        <tr>
                            <th>
                            Employee
                            </th>
                            #foreach($dayslot in $calendar)
                            <th>

                                $dayslot.getDate($version.getStartDate())
                            </th>
                            #end
                             </tr>

                        </thead>


                        <tbody>

                        #foreach($employee in $plan.getEmployees())

                        <tr>

                            <td><b>
                                <a href="/jira/secure/ViewProfile.jspa?name=$employee.getName()">
                                $employee.getName()
                                    </a>
                            </b></td>
                            #foreach($dayslot in $employee.getCalendar())

                                #if($dayslot.equals($prevday))


                                    #if($dayslot.getFeature())
                                        <br/>
                                        <a href ="/jira/browse/$dayslot.getFeature()">$dayslot.getFeature() </a>
                                    #end

                                #else

                                    #if($dayslot.getFeature())
                                    <td bgcolor="#F2F5A9">
                                    <a href ="/jira/browse/$dayslot.getFeature()">$dayslot.getFeature() </a>
                                    #else
                                    <td>
                                        Free Day Slot
                                    #end
                                #end
                                #set ($prevday = $dayslot)
                            #end
                        </tr>
                        #end
                        </tbody>
                    </table>
                    </div>
                </div>
                #foreach($employee in $plan.getEmployees() )
                <div class="tabs-pane" id="$employee.getName()">


                    <div class="search-table-outter">
                    <table class ="aui">
                        <thead>
                            <tr>
                            #foreach($dayslot in $employee.getCalendar())
                                #if($dayslot.equals($prevday))

                                    #else
                                        <th>
                                        $dayslot.getDate($version.getStartDate())
                                        </th>
                                #end
                                #set ($prevday = $dayslot)

                            #end
                            </tr>
                        </thead>
                    <tbody>
                            <tr>
                        #foreach($dayslot in $employee.getCalendar())

                            #if($dayslot.equals($prevday))


                                #if($dayslot.getFeature())
                                    <br/>
                                    <a href ="/jira/browse/$dayslot.getFeature()">$dayslot.getFeature() </a>


                                #end

                                #else

                                 #if($dayslot.getFeature())
                                 <td bgcolor="#F2F5A9">
                                 <a href ="/jira/browse/$dayslot.getFeature()">$dayslot.getFeature() </a>
                                 #else
                                 <td>
                                     Free Day Slot
                                 #end


                            #end
                            #set ($prevday = $dayslot)
                        #end
                            </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
                #end
            </div>



            #if ($unplannedfeatures.size() > 0)

            <div class="aui-message aui-message-warning">
                <p>Couldn't plan $unplannedfeatures.size() features</p>
                <div class="issues">
                    <table class="aui aui-table-sortable">
                        <thead>
                        <tr>
                            <th class="aui-table-column-issue-key">Issue-Key</th>
                            <th>Duration (hours)</th>
                            <th>Priority Level</th>
                            <th>Required Skills</th>
                            <th>Depends On</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach( $feature in $unplannedfeatures)
                            <tr>
                                <td><a href ="/jira/browse/$feature.getName()">$feature.getName() </a></td>
                                <td>$feature.getDuration() </td>
                                <td>$feature.getPriority().getLevel()</td>
                                <td>
                                    #if($feature.getRequiredSkills().size() > 0)
                                        #foreach($skill in $feature.getRequiredSkills())
                                            $skill.getName()
                                            <br/>
                                        #end
                                    #else
                                        No skills required
                                    #end
                                </td>
                                <td>
                                    #if ($feature.getPreviousFeatures.size() > 0)
                                        #foreach($prevf in $feature.getPreviousFeatures())
                                            $prevf.getName()
                                        #end
                                    #else
                                        No dependencies
                                    #end
                                </td>


                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
            #end


            #if($success)
                <a href="replanservlet">Back To Replan</a>
                #else
                    <form method="post" action="replanservlet" class="aui">
                        <input type="submit" class="aui-button aui-button-primary" value="Persist this plan">
                        <a href="replanservlet">Cancel</a>
                    </form>
                    <form method="get" action="replanservlet" class="aui">
                        <input type="hidden" name="actionType" value="getProjectPlan">
                        <input type="submit" class="button" value="Get Other Plan">
                    </form>
            #end



        </div>
</div>
</body>
</html>