$webResourceManager.requireResourcesForContext("com.atlassian.auiplugin:aui-select")


<html>
<head>
    <title>Replan Plugin Main Screen</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">
        <h1>Welcome to Replan Plugin</h1>


         #if($error)

             <div class="aui-message aui-message-error">
                 <p class="title">
                     <strong>Error!</strong>
                 </p>
                 <p>
                     #if($error.getMessage())
                      $error.getMessage()
                     #else
                         Unknown Error
                     #end
                    </p>
             </div>

         #end

        <form method="get" id="h" action="replanservlet" class="aui ">
            <input type="hidden" name="actionType" value="getIssuesToPlan">
            <div class="field-group">

            <aui-label for="sync-product-single-select">Choose Project Key:</aui-label>
            <p>
                <aui-select
                        id="sync-product-single-select"
                        name="project-key"
                        placeholder="Project Key">
                    #foreach($project in $projects)
                        <aui-option>$project.getKey()</aui-option>
                    #end

                </aui-select>
            </p>

            <aui-label for="sync-product-single-select">Choose Version Name:</aui-label>
            <p>
                <aui-select
                        id="sync-product-single-select"
                        name="version-key"
                        placeholder="Version Name">
                    #foreach($version in $versions)
                        <aui-option>$version.getName()</aui-option>
                    #end
                    <aui-option>Total Project</aui-option>

                </aui-select>
            </p>
                <br>

                <input class="button" type="submit" value="Start Planning">
                <a href="replanservlet">Cancel</a>
            </div>


        </form>

</div>
</body>
</html>